@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fg-container {
    @apply px-3 md:px-5 lg:px-44;
}

body.financial-genie-site {
    @apply bg-primary;
}

/***NAVBAR START***/
.navbar-wrapper {
    @apply flex flex-col w-full;
    .main-navbar {
        @apply w-full py-3 md:py-5 bg-secondary fixed top-0 left-0 z-50 shadow-md shadow-secondary/30;

        nav {
            @apply text-light flex justify-between items-center;
            .brand {
            }

            .navigation {
                @apply hidden md:block;

                &.mobile-nav {
                    @apply flex justify-center items-center h-screen z-[99] w-full absolute bg-primary/90 left-0 top-0;
                }

                ul {
                    @apply flex flex-col md:flex-row gap-3;
                    li {
                        a {
                            @applytext-base md:text-sm lg:text-base hover:text-gold;
                        }
                    }
                }
            }

            .menu {
                @apply md:hidden;
                svg {
                    @apply h-7 fill-gold animate-pulse cursor-pointer;
                }
            }
        }
    }
}

/***NAVBAR END***/

/***APP ENTRY START***/

main.financial-genie-content {
    @apply pt-6 md:pt-10;
}
/***APP ENTRY END***/

/***FOOTER PAGE START***/
.footer {
    @apply bg-secondary mt-14 py-10 md:py-20;

    footer {
        @apply flex flex-col-reverse md:flex-row justify-between gap-2;
        section {
            @apply w-full md:w-1/3 flex flex-col gap-2 md:gap-4;

            .footer-section-title {
                @apply text-lg text-white font-bold uppercase;
            }

            &.about {
                .footer-section-about {
                    @apply pr-3 text-light/70;
                }

                .footer-section-email {
                    @apply text-light/70;
                }

                .socials {
                }
            }

            &.important-links {
                @apply my-7 md:my-0;
                ul {
                    @apply grid grid-cols-2 gap-3 md:flex;
                    li {
                        a {
                            @apply text-gold hover:text-white;
                        }
                    }
                }
            }

            &.subscribe {
                .cta {
                    @apply pr-3 text-light/70;
                }

                form {
                    @apply border-gold border rounded p-2 flex gap-3;

                    input {
                        @apply w-10/12 rounded;
                    }

                    button {
                        svg {
                            @apply fill-gold h-6;
                        }
                    }
                }
            }
        }
    }
}
/***FOOTER PAGE END***/

/***WELCOME PAGE START***/

.welcome-page {
    @apply py-10;

    /***NEWS SECTION START***/
    section.news {
        @apply grid md:grid-cols-4 grid-rows-3 grid-cols-2 gap-3 text-light;

        .feed {
            @apply bg-secondary rounded overflow-hidden shadow-lg shadow-secondary cursor-pointer;

            &.first-feed {
                @apply relative col-start-1 col-end-3 md:col-end-4 row-start-1 row-end-2 md:row-end-3;

                .image {
                    @apply absolute top-0 left-0 w-full h-full z-0;

                    img {
                        @apply min-h-full min-w-full;
                        transition: all 1.2s ease-in-out;
                    }

                    &:hover {
                        img {
                            @apply scale-125;
                        }
                    }
                }

                .info {
                    @apply absolute bottom-0 left-0 w-full z-10 h-1/3 md:h-1/5 pb-3 flex flex-col justify-between;

                    p.title {
                        @apply leading-tight  text-base md:text-2xl lg:text-3xl font-semibold;
                    }
                    .info-group {
                        @apply flex justify-between  items-center;

                        p {
                            @apply text-xs;

                            &.author {
                                span {
                                    @apply mr-1;
                                }
                            }

                            &.posted {
                            }
                        }
                    }
                }
            }

            .image {
                @apply relative;

                p.category {
                    @apply absolute z-10 top-3 left-3 px-1 text-sm  bg-gold text-primary rounded-sm;
                }
            }

            .info {
                @apply p-2 h-1/3 flex flex-col justify-between;

                p.title {
                    @apply lg:text-base text-sm leading-tight md:leading-[1.5rem];
                }
                .info-group {
                    @apply flex justify-between items-center;

                    p {
                        @apply text-xs;

                        &.author {
                            span {
                                @apply mr-1;
                            }
                        }

                        &.posted {
                        }
                    }
                }
            }
        }
    }

    /***NEWS SECTION END***/

    /***EXCHANGE SECTION START***/
    .exchange-wrapper {
        @apply flex flex-col;

        header {
            @apply flex justify-between items-center bg-secondary my-5 py-2 px-3;
            p {
                @apply text-light uppercase font-semibold;
            }

            a {
                @apply text-gold;
            }
        }

        section.exchange-news {
            @apply grid  lg:grid-cols-4 md:grid-rows-2 md:grid-cols-3 grid-cols-1 gap-3 text-light;

            .exchange {
                @apply bg-secondary rounded overflow-hidden shadow-lg shadow-secondary cursor-pointer;

                &.enlarged-exchange {
                    @apply lg:relative lg:col-span-2;

                    .image {
                        @apply lg:absolute lg:top-0 lg:left-0 lg:w-full lg:h-full lg:z-0;

                        img {
                            @apply lg:w-full;
                        }
                    }

                    .info {
                        @apply lg:absolute lg:bottom-0 lg:left-0 lg:w-full lg:z-10 lg:h-2/5 lg:pb-3 lg:flex lg:flex-col lg:justify-between;

                        p.title {
                            @apply lg:text-2xl lg:text-3xl lg:font-semibold;
                        }
                        .info-group {
                            @apply lg:flex lg:justify-between  lg:items-center;

                            p {
                                @apply lg:text-xs;

                                &.author {
                                    span {
                                        @apply lg:mr-1;
                                    }
                                }

                                &.posted {
                                }
                            }
                        }
                    }
                }

                .image {
                    @apply h-2/3 relative overflow-hidden;

                    p.category {
                        @apply absolute z-10 bottom-1 md:top-3 left-1 md:left-3 px-1 text-sm  h-max bg-gold text-primary rounded-sm;
                    }
                }

                .info {
                    @apply p-2 h-1/3 flex flex-col justify-between;

                    p.title {
                        @apply lg:text-base text-sm leading-[1.5rem];
                    }
                    .info-group {
                        @apply flex justify-between items-center;

                        p {
                            @apply text-xs;

                            &.author {
                                span {
                                    @apply mr-1;
                                }
                            }

                            &.posted {
                            }
                        }
                    }
                }
            }
        }
    }

    /***TOP SECTION MARGIN****/

    .section-allowance {
        @apply mt-12 md:mt-16;
    }

    /***EXCHANGE SECTION END***/

    header.section-head {
        @apply flex justify-between items-center bg-secondary my-5 py-2 px-3;
        p {
            @apply text-light uppercase font-semibold;
        }

        a {
            @apply text-gold;
        }
    }

    /***SMALL CARDS SECTION START***/
    .small-cards-wrapper {
        @apply flex flex-col;

        /***header.section-head was here***/

        section.small-cards {
            @apply grid  lg:grid-cols-4 md:grid-rows-2 md:grid-cols-3 grid-cols-1 gap-3 text-light;

            .small-card {
                @apply bg-secondary rounded overflow-hidden shadow-lg shadow-secondary cursor-pointer;

                .image {
                    @apply h-2/3 relative overflow-hidden;

                    p.category {
                        @apply absolute z-10 bottom-1 md:top-3 left-1 md:left-3 px-1 text-sm  h-max bg-gold text-primary rounded-sm;
                    }
                }

                .info {
                    @apply p-2 h-1/3 flex flex-col justify-between;

                    p.title {
                        @apply lg:text-base text-sm leading-[1.5rem];
                    }
                    .info-group {
                        @apply flex justify-between items-center;

                        p {
                            @apply text-xs;

                            &.author {
                                span {
                                    @apply mr-1;
                                }
                            }

                            &.posted {
                            }
                        }
                    }
                }
            }
        }
    }

    /***SMALL SECTION END***/

    /***BIG CARDS SECTION START***/
    .big-cards-wrapper {
        @apply flex flex-col;

        /***header.section-head was here***/

        section.big-cards {
            @apply grid  lg:grid-cols-4 md:grid-rows-2 md:grid-cols-2 grid-cols-1 gap-3 text-light;

            .big-card {
                @apply bg-secondary rounded overflow-hidden shadow-lg lg:col-span-2 shadow-secondary cursor-pointer;

                .image {
                    @apply h-[250px] relative overflow-hidden;

                    img {
                    }

                    p.category {
                        @apply absolute z-10 bottom-3 md:bottom-1 left-2 md:left-1  px-1 text-sm  h-max bg-gold text-primary rounded-sm;
                    }
                }

                .info {
                    @apply p-2 h-1/5 flex flex-col justify-between;

                    p.title {
                        @apply lg:text-base text-sm leading-[1.5rem];
                    }
                    .info-group {
                        @apply flex justify-between items-center;

                        p {
                            @apply text-xs;

                            &.author {
                                span {
                                    @apply mr-1;
                                }
                            }

                            &.posted {
                            }
                        }
                    }
                }
            }
        }
    }

    /***BIG SECTION END***/
}

/***WELCOME PAGE END***/
